
@import url('./addEdit.css');

/* ========== classes ============= */
.main{
    justify-content: flex-start;
    padding: var(--padding-section);
}
.home-header{
    width: var(--width-section-list);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-white);
    padding: var(--padding-header);
}

/* ================= Home Tabela ============== */
.home-tabela{
    display: flex;
    align-items: center;
    width: var(--width-section-list);
    margin-top: 10px;
}
.wrapper-tabela {
    width: 100%;
}
.table-wppr {
    margin: 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}
.row {
    display: table-row;
    background: #f6f6f6;
}
.row:nth-of-type(odd) {
    background: #e9e9e9;
}
.row.header-tabela {
    font-weight: 900;
    color: var(--color-label);
    /* background: var(--color-blue-ligth); */
    font-weight: 700;
    font-size: var(--font-size-tabela-header);
}
.cell {
    padding: 6px 12px;
    font-size: var(--font-size-tabela-cell);
    display: table-cell;
}

/* ========= MEDIA ======== */
@media screen and (max-width: 580px) {
    .table-wppr {
        display: block;
    }

    .row {
        padding: 14px 0 7px;
        display: block;
    }
    .row.header-tabela {
        padding: 0;
        height: 6px;
    }
    .row.header-tabela .cell {
        display: none;
    }
    .row .cell {
        margin-bottom: 10px;
    }
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
    .cell {
        padding: 2px 16px;
        display: block;
    }
}